argo-cd:
  enabled: true
  configs:
    secret:
      # $ARGO_PWD=password
      # htpasswd -nbBC 10 "" $ARGO_PWD | tr -d ':\n' | sed 's/$2y/$2a/'
      argocdServerAdminPassword: "$2a$10$qsjuZNhoJR7UHv/v/CryaOe0wewDzzH.wP.j1YAVLqgBXWZImdQ/u"

  controller:
    clusterAdminAccess:
      enabled: true

  server:
    extraArgs:
      - --insecure
    config:
      repositories: |
        - url: https://github.com/mjpitz/renovate-gitops.git
